.login {
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 48rem;
  margin: 8rem auto;
}
.asterisk {
  color: red;
  margin-left: 0.25rem;
}

.row {
  display: flex;
  flex-direction: column;
  text-emphasis-color: black;
  text-decoration-color: black;
  gap: 0.5rem;
}
@media screen and (max-width: 565px) {
  .form {
    width: 30rem;
  }
}
